

html[data-theme="dark"] {
    body {
        background: rgb(114,115,110);
        color: #ffffff;
        
    }
    .header {
        color: #ffffff;
        background-color: rgb(52,52,47,255);
    }
}