$negative  : #f2ad37;

html[data-theme="dark"] {
    body {
        background-color: rgba(30, 31, 31);
        color: #ffffff;     
    }
    .header2 {
        color: #ffffff;
        background-color:rgba(30, 31, 31, 0.8);
    }
    .header {
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .q-item {
        background: rgb(52,52,47,255);
    }
    .custom-panel {
        background-color: rgb(91 92 89);
    }
    .op {
        background-color:  rgba(30, 31, 31);
    }
}