
@font-face {
    font-family: 'OpenSans_Condensed-Regular';
    src: url('~assets/fonts/static/OpenSans_Condensed-Regular.ttf') format("truetype");
  }
  
  @font-face {
    font-family: 'OpenSans_Condensed-Medium';
    src: url('~assets/fonts/static/OpenSans_Condensed-Medium.ttf') format("truetype");
  }
  
  @font-face {
    font-family: 'OpenSans_Condensed-Bold';
    src: url('~assets/fonts/static/OpenSans_Condensed-Bold.ttf') format("truetype");
  }
  @font-face {
    font-family: 'OpenSans_Condensed-Light';
    src: url('~assets/fonts/static/OpenSans_Condensed-Light.ttf') format("truetype");
  }
  @font-face {
    font-family: 'OpenSans_Condensed-LightItalic';
    src: url('~assets/fonts/static/OpenSans_Condensed-LightItalic.ttf') format("truetype");
  }
  @font-face {
    font-family: 'PrincessSofia-Regular';
    src: url('~assets/fonts/PrincessSofia-Regular.ttf') format("truetype");
  }

body {
    font-family: 'OpenSans_Condensed-Regular', sans-serif;
    word-wrap: break-word;
    background-color:white;
    color: #34342f;
    // background-size: 8.49px 8.49px;
  }
  .text-princess {
    font-family: 'PrincessSofia-Regular',sans-serif;
  }
  .text-regular {
    font-family: 'OpenSans_Condensed-Regular',sans-serif;
  }
  .text-medium {
    font-family: 'OpenSans_Condensed-Medium',sans-serif;
  }
  .text-bold {
    font-family: 'OpenSans_Condensed-Bold',sans-serif;
  }
  .text-light {
    font-family: 'OpenSans_Condensed-Light',sans-serif;
  }
  .text-lightIt {
    font-family: 'OpenSans_Condensed-LightItalic',sans-serif;
  }
  .header {
    color: #34342f;
    background: rgb(255, 255, 255, 0.7);
  }
   .custom-badge {
    font-size: 17px;
    padding: 3px;
    border: 0.135rem solid;
    border-color: #4D4D4A;
    border-radius: 9px;
  }
  .custom-badge2 {
    padding: 5px;
    margin-right: 5px;
  }
  .btn-custom {
    border-radius: 9px;
  }
  .carousel {
    border-radius: 13px;
  }
  .custom-caption {
    width: max-content;
    text-align: left;
    padding: 12px;
    color: #f28537;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, .3);
  }
  .op {
    background-color: #ffffff;
  }
  .op:hover {
    background-color: #ffffff;
  }
  .content {
    position: relative;
    width: 80%;
    margin: 0 auto;
  }
  .right-text {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
  }
  .custom-caption2 {
    height: 20%;
    text-align: right;
    color: #ffffff;
    margin: 1%;
  }
  .text-dec {
    color: white;
  }
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background-image: linear-gradient(45deg, #32353b 41.67%, #1c2a33 41.67%, #1c2a33 50%, #32353b 50%, #32353b 91.67%, #1c2a33 91.67%, #1c2a33 100%);
  background-size: 8.49px 8.49px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}
  